<!DOCTYPE html>

<html>
	<head>
		<title>CURRENT_PAGE</title>
		<link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet"/>
		<link href="/stylesheets/stylesheet.css" rel="stylesheet"/>
		<script language="javascript" type="text/javascript" src="js/localjquery.js"></script>
		<script language="javascript" type="text/javascript" src="js/html5game.js"></script>
	</head>

	<body>
		<!-- Navbar Start-->
		<div class="navbar navbar-default navbar-fixed-top">
			<div class="container">
				
				<div class="navbar-header">
					<button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>

					<a class="navbar-brand" href="/blog"> HTML5 Test Game </a>
				</div>

				<div class="navbar-collapse collapse">
					<ul class="nav navbar-nav">
						<li> 				<a href="/blog/blogPost">New Post</a> </li>
						<li> 				<a href="/ascii">AsciiChan</a> </li>
						<li> 				<a href="/blog/loginTest">testPage</a> </li>
					</ul>

					<ul class="nav navbar-nav navbar-right">
						<li> <a href="/blog/signup">Sign Up</a> </li>
						<li> <a href="/blog/login">Login</a> </li>
					</ul>
				</div>

			</div>
		</div>
		<!-- Navbar End-->
	<div class="canvasContainer"></div>
		

		<!-- Footer-->
		<div class="footer text-center">
			<p>&copy; 2013 Simon Rupp-Greene </p>
		</div>
		<!-- /Footer-->

	</body>
</html>