body {
	font-family: sans-serif;
	width: 1000px;
	margin: 30px auto;	
	padding: 40px;
}

h1 {
	font-weight: bold;
	font-size: 60px;
}

label {
	display: block;
	font-size: 20px;
}

input[type=text] {
	width: 400px;
	font-size: 20px;	
	padding: 2px;
}

textarea {
	width: 400px;
	height: 200px;
	font-size: 17px;
	font-family: monospace;
}

input[type=submit] {
	font-size: 24px;
}

input[type=password] {
	font-size: 24px;
}

hr {
	margin: 10px auto;
}

.entryTitle {
	font-weight: bold;
	font-size: 20px;
	display: inline;
}

.entryDate {
	float: right;
	font-size: 15px;
}

.asciiSubmit{
	margin:50px auto;
}

.error {
	color: red;
	font-size: 15px;
	font-family: monospace;
	display: inline;
}

.formfield{
	padding: 10px;
}

#navcontainer ul
{
	padding-left: 0;
	margin-left: 0;
	background-color: #036;
	color: White;
	float: left;
	width: 100%;
	font-family: monospace;, helvetica, sans-serif;
	margin-bottom: 60px;
}

#navcontainer ul li { 
	display: inline;
}

#navcontainer ul li a{
	padding: 0.2em 1em;
	background-color: #036;
	color: White;
	text-decoration: none;
	float: left;
	border-right: 1px solid #fff;
}

#navcontainer ul li a:hover {
	background-color: #369;
	color: #fff;
}


.canvasContainer {
	width: 480px;
	height: 320px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	background-color: orange;
	border: solid black;
	z-index: -1;
}

.profContainer {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 480px;
	background-color: orange;
	border: solid black;
}