<!DOCTYPE html>

<html>
	<head>
		<title>/ascii/</title>
		<link type="text/css" href="/stylesheets/stylesheet.css" rel="stylesheet" />		
	</head>

	<body>

		<div id="navcontainer">
			<ul id="navlist">
				<li><a href="/blog">Blog</a></li>
				<li><a href="/ascii">AsciiChan</a></li>
				<li><a href="/blog/login">Login</a></li>
				<li><a href="/blog/signup">Signup</a></li>
				<li><a href="/blog/loginTest">testPage</a></li>
			</ul>
		</div>

		<h1>/ascii/</h1>

		<form class="asciiSubmit" method="post">
			<label>
				<div>title</div>
				<input type="text" name="title" value = {{title}}>			
			</label>
	
			<label>
				<div>art</div>
				<textarea name="art">{{art}}</textarea>
			</label>

			<div class="error">{{error}}</div>

			<input type="submit">
	
		</form>

	<hr><br><br><br><br>

	
	{% for art in arts %}
		<div class="art">
			<div class="art-title">{{art.title}}</div>
			<pre class="art-body">{{art.art}}</pre>
		</div>
		<br>
		<br>
	{% endfor %}

	</body>

</html>