<!DOCTYPE html>

<html>
	<head>
		<title>/blogpost/</title>
		<link type="text/css" href="/stylesheets/stylesheet.css" rel="stylesheet" />
	</head>
	
	<body>

		<div id="navcontainer">
			<ul id="navlist">
				<li><a href="/blog">Blog</a></li>
				<li><a href="/ascii">AsciiChan</a></li>
				<li><a href="/blog/login">Login</a></li>
				<li><a href="/blog/signup">Signup</a></li>
				<li><a href="/blog/loginTest">testPage</a></li>
			</ul>
		</div>
		
		<h1>/blog/blogpost/</h1>
		
	<hr>
		<form method="post">
			<label>
				<div>title</div>
				<input type="text" name="title" value = {{title}}>			</label>
	
			<label>
				<div>Entry</div>
				<textarea name="entry">{{entry}}</textarea>
			</label>

			<div class="error">{{error}}</div>

			<input type="submit">
	
		</form>


</html>