<!DOCTYPE html>

<html>
	<head>
		<title>New Post</title>
		<link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet"/>
		<link href="/stylesheets/stylesheet.css" rel="stylesheet"/>
	</head>

	<body>


		<!-- Navbar Start-->
		<div class="navbar navbar-default navbar-fixed-top">
			<div class="container">
				
				<div class="navbar-header">
					<button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>

					<a class="navbar-brand" href="#"> New Post </a>
				</div>

				<div class="navbar-collapse collapse">
					<ul class="nav navbar-nav">
						<li> <a href="/blog">Blog</a> </li>
						<li> <a href="#">New Post</a> </li>
						<li> <a href="/ascii">AsciiChan</a> </li>
						<li> <a href="/blog/loginTest">testPage</a> </li>
					</ul>

					<ul class="nav navbar-nav navbar-right">
						<li> <a href="/blog/signup">Sign Up</a> </li>
						<li> <a href="/blog/login">Login</a> </li>
					</ul>
				</div>

			</div>
		</div>
		<!-- Navbar End-->


		<form class="form">
			<div class="form-group">
				<label class="control-label">Title:
					<input class="form-control" type="text" name="title" value={{title}}>
				</label>
			</div>

			<div class="form-group">
				<label class="control-label">Content:
					<textarea class="input-block-level form-control" type="text" name="entry">{{entry}}</textarea>
				</label>
			</div>

			<input class="btn btn-primary" type="submit">
		</form>

		<!-- Footer-->
		<div class="footer text-center">
			<p>&copy; 2013 Simon Rupp-Greene </p>
		</div>
		<!-- /Footer-->

	</body>
</html>