<!DOCTYPE html>

<html>
	<head>
		<title>/blog/login/</title>
		<link type="text/css" href="/stylesheets/stylesheet.css" rel="stylesheet" />
	</head>

	<body>

		<div id="navcontainer">
			<ul id="navlist">
				<li><a href="/blog">Blog</a></li>
				<li><a href="/ascii">AsciiChan</a></li>
				<li><a href="/blog/login">Login</a></li>
				<li><a href="/blog/signup">Signup</a></li>
				<li><a href="/blog/loginTest">testPage</a></li>
			</ul>
		</div>



		<h1>/blog/login/</h1>

		<hr><br><br><br><br>

		<form method="post">

			<label class="formfield">
				<div>Username:</div>
				<input type="text" name="userLog" value={{userLog}}>
			</label>

			<label class="formfield">
				<div>Password:</div>
				<input type="password" name="passLog" value={{passLog}}>
				<div class="error">{{error}}</div>
			</label>

			<input type="submit">

		</form>


	</body>

</html>