<!DOCTYPE html>

<html>
	<head>
		<title>/blog/signup/</title>
		<link type="text/css" href="/stylesheets/stylesheet.css" rel="stylesheet" />
	</head>

	<body>

		<h1>/blog/signup/</h1>
		<hr><br><br><br><br>

		<form method="post">

			<label class="formfield">
				<div>Username</div>
				<input type="text" name="user" value={{user}}>
				<div class="error">{{error_user}}</div>
			</label>

			<label class="formfield">
				<div>Password</div>
				<input type="text" name="pw" value={{pw}}>
				<div class="error">{{error_pw}}</div>
			</label>

			<label class="formfield">
				<div>Verify Password</div>
				<input type="text" name="verify" value={{verify}}>
				<div class="error">{{error_verify}}</div>
			</label>

			<label class="formfield">
				<div>Email</div>
				<input type="text" name="email" value={{email}}>
				<div class="error">{{error_email}}</div>
			</label>
			<input type="submit">

		</form>

	</body>

</html>